*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: inherit;
	background-color: $dark-color;
	color: $light-color;

	&::-webkit-scrollbar {
		width: 0.5rem;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: $t-dark-color;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: $red-color;
	}
}

ul {
	list-style-type: none;
}
