@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
	font-family: "Nunito";
	font-size: 1.6rem;
}

.h1 {
	font-size: 3.2rem;
	font-weight: 700;
	letter-spacing: 2px;
}

.h2 {
	font-size: 2.6rem;
	font-weight: 700;
	letter-spacing: 2px;
}

.h3 {
	font-size: 2.4rem;
	font-weight: 700;
	letter-spacing: 1px;
}

.h4 {
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 0.6px;
}

.h5 {
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 0.6px;
}

.p {
	letter-spacing: 0.6px;
	line-height: 1.4;
	font-size: 1.6rem;
	font-weight: 400;
	color: rgb(199, 199, 199);
}

.label {
	font-size: 1.8rem;
	color: $light-color-1;
}

a {
	color: white;
	text-decoration: none;
	font-size: 1.8rem;
	@include default-transition;

	&:hover {
		color: $red-color;
	}
}

.tagline {
	font-style: italic;
	font-size: 1.8rem;
	letter-spacing: 1.4px;
	font-weight: 400;
	color: white;
}
