$dark-color: hsl(0, 0%, 8%);
$dark-color-1: hsl(0, 0%, 10%);
$t-dark-color: hsla(0, 0%, 6%, 0.5);
$t-dark-color-1: hsla(0, 0%, 6%, 0.7);
$grey-color: hsl(0, 0%, 75%);
$red-color: hsl(357, 92%, 47%);

$light-color: hsl(0, 0%, 95%);
$light-color-1: hsl(0, 0%, 79%);
$border-rad: 6px;
$gutter: 2.6rem;
$x-spacing: 4rem;
$m-x-spacing: 2rem;
$paragraph: 1.4rem;
$default-font-size: 1.6rem;
