.collection-page {
	padding-bottom: 26rem;

	&__wrapper {
		padding-top: 10rem;
		height: 100vh;
	}

	&__poster {
		img {
			padding-right: 1rem;
			border-radius: $border-rad;
		}
	}

	&__content {
		// margin-top: -2rem;
	}
}
