.home {
	padding-bottom: 26rem;

	&__heading {
		position: relative;
		height: 100vh;
		display: flex;
		// justify-content: center;
		align-items: center;
		&-content {
			text-align: center;
			// margin-left: 4rem;
			margin: 0 auto;
			width: 70%;
		}

		&-title {
			font-family: "Poppins";
			font-size: 4.6rem;
			margin-bottom: 2.4rem;
			line-height: 1.2em;
			text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

			&--imdb {
				color: #e2b616;
				text-shadow: 2px 4px 3px rgba(darken(#e2b616, 50%), 0.3);
			}

			&--mobi {
				color: #93cbe5;
				text-shadow: 2px 4px 3px rgba(darken(#93cbe5, 50%), 0.3);
			}
		}
		&-scroll-down {
			position: absolute;
			z-index: 1000;
			width: 100%;
			margin: 0 auto;
			bottom: 3rem;
			left: 0;
		}
		&-subtitle {
			color: $grey-color;
			width: 70%;
			margin: 0 auto;
		}

		&__overview {
			font-size: 1.8rem;
		}
	}
}

.fade-effect {
	position: relative;
	margin-top: -10rem;
	height: 10rem;
	background-image: linear-gradient(180deg, transparent, $dark-color);
	z-index: 100;
}
