.movie-details {
	height: 100vh;
	display: grid;
	grid-template-columns: 1.8fr 5fr;
	padding: 6rem 4rem;

	&__content {
		margin-top: 3rem;
		padding: 1rem;
	}

	&__poster {
		margin-top: 4rem;
		img {
			border-radius: $border-rad;
			box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
				0 15px 12px rgba(0, 0, 0, 0.22);
		}
	}

	&__title {
		font-size: 4rem;
		font-weight: 700;
		margin-bottom: 0.3rem;
		letter-spacing: 2px;
	}

	&__info {
		font-size: 1.6rem;
		margin-bottom: 1.6rem;
	}

	.row {
		margin-bottom: 2.5rem;
	}

	&__genre {
		font-size: 1.6rem;
		display: flex;
		margin-bottom: 1.6rem;
		* {
			margin-right: 1rem;
			padding: 0.6rem 1.2rem;
			background-color: $t-dark-color-1;
			border-radius: 2rem;
		}
	}

	&__imdb-rating {
	}

	&__actions {
		* {
			margin-right: 2rem;
		}
	}

	&__overview {
		h4 {
			font-size: 1.8rem;
			font-weight: 600;
			letter-spacing: 1.6px;
			margin-bottom: 1.6rem;
			color: $grey-color;
		}

		p {
			letter-spacing: 1.2px;
			line-height: 1.4;
		}
	}

	&__other-info {
		display: flex;
		justify-content: space-between;
	}
}
