.movie-details {
	padding-bottom: 26rem;

	.heading {
		height: 100vh;
		width: 100%;
		padding: 0 $x-spacing;
		display: flex;
		justify-content: center;
		align-items: center;
		&__tagline {
			font-style: italic;
			font-size: 1.8rem;
			letter-spacing: 1.6px;
			font-weight: 400;
		}
		&__container {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			// height: 80%;
		}

		&__content {
			margin-top: 3rem;
			padding: 1rem;
		}

		&__poster {
			margin-right: 2.5rem;
			margin-top: 4rem;
			img {
				border-radius: $border-rad;
				box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
					0 15px 12px rgba(0, 0, 0, 0.22);
			}
		}

		&__title {
			font-size: 3rem;
			font-weight: 700;
			margin-bottom: 0.5rem;
			letter-spacing: 2px;
			text-shadow: 2px -2px 11px #110805;

			&--year {
				font-weight: 500;
				font-family: "Roboto";
			}
		}

		&__info {
			font-size: 1.8rem;
			margin-bottom: 1.6rem;
			color: $light-color-1;
			a {
				color: $light-color-1;
				text-decoration: none;
				font-weight: 500;

				&:hover {
					color: white;
				}
			}
		}

		&__genre {
			font-size: 1.6rem;
			display: flex;
			margin-bottom: 1.6rem;
			* {
				margin-right: 1rem;
				padding: 0.6rem 1.2rem;
				background-color: $t-dark-color-1;
				border-radius: 2rem;
			}
		}

		&__overview {
			letter-spacing: 1.2px;
			line-height: 1.4;
			font-size: $paragraph;
		}

		&__main-crew {
			// max-width: 80%;
			// display: flex;
			& > * {
				display: inline-block;
				margin-right: 8rem;
				margin-bottom: 2rem;
			}

			&__name {
				font-weight: 700;
				white-space: nowrap;
			}

			&__job {
				font-size: $paragraph;
				color: $light-color-1;
			}

			// justify-content: space-between;
			letter-spacing: 1.2px;
		}

		&__actions {
			display: flex;
			align-items: center;
			& > * {
				margin-right: 2rem;
			}
		}

		.row {
			margin-bottom: 2.5rem;
		}
	}
}
.credits {
	width: 100%;
	display: flex;
	& > div:nth-child(1) {
		width: 60%;
		margin-right: 1rem;
	}

	& > div:nth-child(2) {
		width: 40%;
	}
	// grid-template-columns: 3fr 1fr;
}

.movie-cast {
	// width: 100% !important;
	&__title {
		font-size: 2.3rem;
		margin-left: 4rem;
		margin-top: 4rem;
	}

	&__list {
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 2rem 4rem;
		// overflow-y: scroll;

		@include modified-scrollbar;
	}

	&__item {
		margin-right: 2rem;
		max-width: 13.8rem;
		min-width: 13.8rem;
	}
}

.related-movies {
	// width: 100% !important;
	&__title {
		font-size: 2.3rem;
		margin-left: 4rem;
		margin-top: 4rem;
	}

	&__list {
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 2rem 4rem;
		// overflow-y: scroll;

		@include modified-scrollbar;
	}

	&__item {
		margin-right: 2rem;
		max-width: 15rem;
		min-width: 15rem;
	}
}

.imdb-rating {
	display: flex;
}
