.movie-details {
	position: relative;
	padding-bottom: 26rem;
	// padding: 0 $x-spacing 26rem $x-spacing;
	// max-width: 1366px;

	.heading {
		height: 100vh;
		width: 100%;
		padding: 0 $x-spacing;
		display: flex;
		justify-content: center;
		align-items: center;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100%;
			background: rgb(20, 20, 20);
			background: -moz-linear-gradient(
				90deg,
				rgba(20, 20, 20, 1) 0%,
				rgba(20, 20, 20, 0.9) 19%,
				rgba(20, 20, 20, 0.88) 27%,
				rgba(20, 20, 20, 0.87) 34%,
				rgba(20, 20, 20, 0.86) 38%,
				rgba(20, 20, 20, 0.84) 43%,
				rgba(20, 20, 20, 0.8) 47%,
				rgba(0, 0, 0, 0.4150035014005602) 100%
			);
			background: -webkit-linear-gradient(
				90deg,
				rgba(20, 20, 20, 1) 0%,
				rgba(20, 20, 20, 0.9) 19%,
				rgba(20, 20, 20, 0.88) 27%,
				rgba(20, 20, 20, 0.87) 34%,
				rgba(20, 20, 20, 0.86) 38%,
				rgba(20, 20, 20, 0.84) 43%,
				rgba(20, 20, 20, 0.8) 47%,
				rgba(0, 0, 0, 0.4150035014005602) 100%
			);
			background: linear-gradient(
				90deg,
				rgba(20, 20, 20, 1) 0%,
				rgba(20, 20, 20, 0.9) 19%,
				rgba(20, 20, 20, 0.88) 27%,
				rgba(20, 20, 20, 0.87) 34%,
				rgba(20, 20, 20, 0.86) 38%,
				rgba(20, 20, 20, 0.84) 43%,
				rgba(20, 20, 20, 0.8) 47%,
				rgba(0, 0, 0, 0.4150035014005602) 100%
			);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141414",endColorstr="#000000",GradientType=1);
		}

		@include respond(tab-port) {
			// width < 900?
			padding: 0 $m-x-spacing;
		}
		&__img-container {
			width: 90%;
		}
		&__container {
			height: 100%;
			width: 100%;
			display: flex;
			// justify-content: flex-start;
			align-items: center;
			// height: 80%;
			position: relative;
			z-index: 1;
		}

		&__info {
			color: $grey-color;
			font-size: 1.6rem;
			a {
				color: $grey-color;
				font-size: 1.6rem;
				@include default-transition;
				&:hover {
					color: $red-color;
				}
			}
		}

		&__content {
			// align-self: flex-start;
			// margin-left: 2rem;
			padding-top: 5rem;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 50%;
			img.logo {
				width: 20%;
			}
		}

		&__poster {
			min-width: 30rem;
			img {
				border-radius: $border-rad;
				box-shadow: rgba(132, 132, 146, 0.2) 0px 7px 29px 0px;
			}

			@include respond(tab-port) {
				// width < 900?
				display: none;
			}
		}

		&__actions {
			display: flex;
			align-items: center;
			& > * {
				margin-right: 2rem;
			}
		}
	}

	&__overview {
		padding: 4rem 2rem 4rem 0;
	}
	&__more-info {
		// padding: 1rem;
		padding: 1.6rem 2rem;
		margin: 2rem $x-spacing;
		box-shadow: 0px 0px 12px rgba(212, 212, 212, 0.075);
		border: 1px solid rgba(212, 212, 212, 0.062);
		border-radius: $border-rad;
		display: flex;
	}

	&__additional-details {
		display: flex;
		li {
			margin-right: 4rem;
			font-size: 1.4rem;
			label {
				font-weight: 700;
				color: rgb(88, 88, 88);
				display: block;
			}

			span {
				display: inline-block;
			}
		}
	}

	.right {
		margin-top: 4rem;
		padding-left: 1.5rem;
	}

	&__links {
		@include flex-center;
		a {
			margin-left: 1.6rem;
		}
		// border-bottom: 1px solid rgb(46, 46, 46);
		// padding-bottom: 2rem;

		// a {
		// 	color: $light-color;
		// 	@include default-transition;
		// 	&:hover {
		// 		color: $red-color;
		// 	}
		// }
		// & > * {
		// 	margin-right: 1.5rem;
		// }

		// margin-bottom: 2rem;
	}

	&__media {
		&-heading {
			display: flex;

			button {
				padding: 0.2rem 1rem;
				border: none;
				cursor: pointer;
				border-radius: $border-rad;
				background-color: rgb(36, 36, 36);
				color: $light-color;
				font-family: "Poppins";
				letter-spacing: 1px;

				&:not(:last-child) {
					margin-right: 1rem;
				}
			}
		}
	}

	&__trailers {
		&-item {
			height: 180px;
			width: 320px;
			margin-right: 2rem;
			border-radius: $border-rad;
			position: relative;

			@include flex-center;

			a {
				background-color: $t-dark-color-1;
				height: 5rem;
				width: 5rem;
				border-radius: 50%;
				cursor: pointer;

				@include flex-center;

				i {
					padding: 4px 0 0 3px;
				}
			}
		}
	}

	&__images {
		&-item {
			margin-right: 2rem;
			img.poster {
				width: 150px;
				border-radius: $border-rad;
			}
			img.backdrop {
				width: 300px;
				border-radius: $border-rad;
			}
		}
	}
}

.ratings {
	display: flex;
	font-size: 1.4rem;
	color: white;
	& > * {
		display: flex;
		margin-right: 2rem;
	}
	&__imdb {
		img {
			width: 42px;
		}
	}

	&__tmdb {
		// color: #12b6dd;
		img {
			width: 86px;
		}
	}
}

.collection {
	// width: 300px;
	height: 280px;
	border-radius: $border-rad;
	display: flex;
	justify-content: center;
	align-items: center;

	&__title {
		font-size: 2.8rem;
		font-weight: 600;
		margin-bottom: 2rem;
	}

	&__content {
		text-align: center;
	}

	&__img {
		// width: 80%;
		margin: 0 auto;
	}
}
