.person-details {
	// height: 100vh;
	&__more-info {
		margin: 1rem;
		li {
			&:not(:last-child) {
				border-bottom: 1px solid rgb(27, 27, 27);
			}

			margin-bottom: 2rem;
			padding: 0.5rem;

			label {
				font-size: 1.2rem;
				font-weight: 700;
				color: rgb(88, 88, 88);
				display: block;
			}

			span {
				display: inline-block;
				font-size: 1.4rem;
			}
		}
	}

	&__left {
		padding-right: 0 !important;
		// box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.2);
		// box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
		border: 1px solid rgba(212, 212, 212, 0.062);
		box-shadow: 0px 0px 12px rgba(212, 212, 212, 0.075);
		height: fit-content;
		padding-bottom: 1rem;
		border-radius: 8px;
		// grid-auto-rows: 100px;
	}
	.heading {
		padding-top: 10rem;

		&__poster {
			// width: 100%;
			img {
				border-radius: $border-rad;
			}
		}

		&__content {
			padding-left: 3.5rem;
		}

		&__biography {
			max-height: 2rem;
			max-width: 95%;
			overflow-y: hidden;
		}
	}
}

.person-details {
	padding-bottom: 26rem;
}

.actor-movies {
	&__heading {
		display: flex;
		justify-content: space-between;

		button {
			padding: 0.2rem 1rem;
			border: none;
			cursor: pointer;
			border-radius: $border-rad;
			background-color: rgb(36, 36, 36);
			color: $light-color;
			font-family: "Poppins";
			letter-spacing: 1px;
		}
	}
	&__item {
		padding: 1rem 1.5rem;
		// box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
		border: 1px solid rgba(212, 212, 212, 0.062);
		box-shadow: 0px 0px 12px rgba(212, 212, 212, 0.075);
		border-radius: 8px;
		margin: 2rem 0;
		display: flex;
		cursor: pointer;
	}
	&__title {
		// font-family: "Poppins";
		// font-weight: 700;
		color: $light-color;
	}
	&__character {
		color: rgb(80, 80, 80);
	}
	&__year {
		color: $grey-color;
	}
	&__vote {
		margin-left: auto;
		display: flex;
		align-items: center;

		i {
			margin-bottom: -3px;
			margin-right: 0.5rem;
			color: #f1c40f;
			// color: gold;
		}
	}
}
