.person-details {
	// height: 100vh;
	&__more-info {
		margin: 1rem;
		li {
			&:not(:last-child) {
				border-bottom: 1px solid rgb(34, 34, 34);
			}

			margin-bottom: 2rem;
			padding: 0.5rem;

			h5 {
				font-size: 1.2rem;
				font-weight: 700;
				color: rgb(88, 88, 88);
			}

			span {
				display: inline-block;
				font-size: 1.4rem;
			}
		}
	}

	&__left {
		padding-right: 0 !important;
		// box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
		height: fit-content;
		padding-bottom: 1rem;
		// grid-auto-rows: 100px;
	}
	.heading {
		padding-top: 10rem;

		&__title {
			font-size: 3rem;
			font-weight: 700;
			// margin-bottom: 0.5rem;
			letter-spacing: 2px;
			text-shadow: 2px -2px 11px #110805;
		}

		&__poster {
			// width: 100%;
			img {
				border-radius: $border-rad;
			}
		}

		&__subtitle {
			font-size: 2rem;
		}
		&__content {
			padding-left: 3.5rem;
		}

		&__biography {
			max-height: 2rem;
			max-width: 95%;
			overflow-y: hidden;
			color: $grey-color;
		}
	}
}

.person-details {
	padding-bottom: 26rem;
}

.actor-movies {
	&__item {
		padding: 1rem 1.5rem;
		box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
		border-radius: 8px;
		margin: 2rem 0;
		display: flex;
	}
	&__title {
		font-weight: 700;
		color: $light-color;
	}
	&__character {
		color: rgb(80, 80, 80);
	}
	&__year {
		color: $grey-color;
	}
	&__vote {
		margin-left: auto;
		display: flex;
		align-items: center;

		i {
			margin-bottom: -3px;
			margin-right: 0.5rem;
			color: #f1c40f;
			// color: gold;
		}
	}
}
