.person-details {
	// height: 100vh;
	.heading {
		padding-top: 10rem;
		&__title {
			@include respond(tab-port) {
				text-align: center;
			}
		}
		&__poster {
			// width: 100%;

			@include respond(tab-port) {
				margin-bottom: 2rem;
			}
			img {
				border-radius: $border-rad;

				@include respond(tab-port) {
					max-width: 60%;
					display: block;
					margin: 0 auto;
				}
			}
		}

		&__content {
			padding-left: 2rem;
			@include respond(tab-port) {
				padding-left: 0;
			}
		}

		&__biography {
			// max-height: 13rem;
			// max-width: 95%;
			// overflow-y: hidden;
			p {
				text-align: justify;
				white-space: pre-wrap;
				display: -webkit-box;
				-webkit-line-clamp: 5; /* number of lines to show */
				-webkit-box-orient: vertical;
				overflow-y: hidden;

				&.show {
					white-space: pre-wrap;
					display: -webkit-box;
					-webkit-line-clamp: 100; /* number of lines to show */
					-webkit-box-orient: vertical;
					overflow-y: hidden;
				}
			}
		}
	}
}

.person-details {
	padding-bottom: 26rem;
}

.actor-movies {
	&__heading {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		padding: 0.3em;
		border-radius: $border-rad;
		margin: 2rem 0;
		display: flex;
		cursor: pointer;
		font-size: 1.6rem;
		img {
			width: 45px;
			object-fit: contain;
		}
		&:hover {
			background-color: lighten($dark-color-1, 5%);
		}

		@include default-shadow;

		@include respond(tab-port) {
			font-size: 1.8rem;
		}
	}

	&__content {
		margin: 0 1rem;

		span {
			display: block;
		}
	}
	// &__title {
	// 	// font-family: "Poppins";
	// 	// font-weight: 700;
	// 	color: $light-color;
	// }
	&__character {
		color: rgb(80, 80, 80);
	}
	// &__year {
	// 	color: $grey-color;
	// }
	&__vote {
		margin-left: auto;
		display: flex;
		align-items: center;
		margin-right: 1rem;
		i {
			margin-bottom: -3px;
			margin-right: 0.5rem;
			color: #f1c40f;
			// color: gold;
		}
	}
}
