$dark-color: #070707;
$dark-color-1: #1b1b1b;
$t-dark-color: rgba($dark-color, 0.5);
$t-dark-color-1: rgba($dark-color, 0.7);
$grey-color: #8d8d8d;
$red-color: #da0037;
$x-spacing: 4rem;

$border-rad: 6px;
