.btn-float {
	// padding: 0.6rem;
	height: 4rem;
	width: 4rem;
	font-size: 2.2rem;
	border: 1px solid $red-color;
	background-color: $red-color;
	color: white;
	border-radius: 50%;
	cursor: pointer;

	@include default-transition;
}

.btn {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.6rem 2rem;
	font-size: 1.4rem;
	font-weight: 600;
	color: $light-color;
	background-color: transparent;
	border-radius: 4rem;
	border: none;
	letter-spacing: 1.2px;
	font-family: "Nunito";
	font-weight: 700;
	cursor: pointer;
}
