.btn {
	cursor: pointer;
	font-family: "Poppins";
	font-size: 1.6rem;
	padding: 0.2em 1em;
	white-space: nowrap;
	border-radius: $border-rad;
	border: none;
	background-color: rgb(36, 36, 36);
	color: $light-color;
	letter-spacing: 0.8px;

	@include default-transition;

	&:hover {
		background-color: lighten($red-color, 2%);
		color: $light-color;
	}

	&__sm {
		font-size: 1.4rem;
	}

	&__trailer {
		padding: 0;
		background: transparent;
		font-weight: 500;
		font-size: 1.4rem;
		@include default-transition;
		@include flex-center;

		& > i {
			margin-bottom: -4px;
			margin-right: 0.8rem;
		}

		&:hover {
			color: lighten($red-color, 2%);
			background-color: transparent;
			svg {
				color: lighten($red-color, 2%);
				fill: lighten($red-color, 2%);
			}
		}
	}

	&--active {
		color: lighten($red-color, 2%);
	}
}
