.collection {
	// height: 74vh;
	padding: 4.2rem 0 2.8rem 0;
	overflow: hidden;
	// @include default-shadow;
	background-color: $dark-color-1;
	box-shadow: inset 8px 5px 16px 0 hsla(0, 0%, 0%, 0.37);
	display: flex;
	align-items: center;
	border: none;

	&__poster {
		// @include flex-center;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		padding-left: $x-spacing - 2rem;
		img {
			border-radius: $border-rad;
			@include default-shadow;
			// margin-top: 4rem;
			max-width: 85%;
			min-width: 85%;
		}

		@include respond(tab-port) {
			display: none;
			// justify-content: flex-start;
		}
	}
	&__title {
		margin-bottom: 1rem;
	}

	&__overview {
		@include respond(tab-port) {
			text-align: justify;
		}
	}
	&__wrapper {
		@include respond(tab-port) {
			display: unset;
		}
	}
	&__content {
		// text-align: center;
		// margin-left: $x-spacing;
		padding-right: $x-spacing;

		@include respond(tab-port) {
			padding: 0 $m-x-spacing !important;
			width: 100%;
		}
	}

	&__img {
		// width: 80%;
		margin: 0 auto;
	}
}
