.discover {
	position: relative;
	z-index: 1000;
	margin: 3rem 0;
	// background-color: orangered;

	&__title {
		font-size: 1.6rem;
		font-weight: 500;
		// border-bottom: 1px solid rgb(37, 37, 37);
		letter-spacing: 2px;

		margin: 0 0 0 $x-spacing;
	}
	&__list {
		display: flex;
		overflow-x: scroll;
		padding: 3rem 0 3rem $x-spacing;

		@include modified-scrollbar;
	}

	&__poster {
		img {
			margin-right: $gutter;
			width: 16rem;
			border-radius: $border-rad;
			cursor: pointer;
			position: relative;

			@include default-transition;
		}

		img:hover {
			transform: scale(1.1) rotate(-3deg);
			z-index: 100;
		}
	}
}

.home {
	& > div:nth-child(3) {
		margin-top: -15rem !important;
	}
}
