.discover {
	position: relative;
	z-index: 1000;
	// margin: 3rem 0;

	&__heading {
		padding-top: 3rem;
		font-size: 2rem;
		font-weight: 500;
		letter-spacing: 2px;

		margin: 0 0 0 $x-spacing;

		@include respond(tab-port) {
			// width < 900?
			margin: 0 0 0 $m-x-spacing;
		}
	}

	&__more-info {
		color: $grey-color;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__vote-average {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $light-color;

		i {
			color: #f1c40f;
		}
	}

	&__title {
		display: block;
		margin-top: 0.4em;
		font-size: 1.4rem;
		width: 16rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: $light-color;
		@include default-transition;

		span {
			font-weight: 500;
		}

		&--clickable {
			text-decoration: none;

			&:hover {
				color: $red-color;
			}
		}
	}

	&__list {
		display: flex;
		overflow-x: scroll;
		padding: 3rem 0 3rem $x-spacing;

		@include respond(tab-port) {
			// width < 900?
			padding: 3rem 0 3rem $m-x-spacing;
		}

		@include modified-scrollbar;
	}

	&__item {
		margin-right: $gutter;
		img {
			width: 16rem;
			border-radius: $border-rad;
			cursor: pointer;
			position: relative;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
			@include default-transition;

			&:hover {
				transform: scale(1.1) rotate(-3deg);
				z-index: 100;
				box-shadow: rgba(132, 132, 146, 0.2) 0px 7px 29px 0px,
					rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
			}
		}
	}
}
