.modal__backdrop {
	content: "";
	z-index: 10000;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-backdrop-filter: grayscale(1);
	backdrop-filter: grayscale(1);
}

.modal {
	position: fixed;
	background: $dark-color;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 78rem;
	height: 43.9rem;
	z-index: 10001;
	border-radius: $border-rad;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	overflow: hidden;

	@include respond(tab-port) {
		// width < 900?
		width: 92%;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(
			to right,
			$dark-color 25%,
			rgba(0, 0, 0, 0.01)
		);
	}

	&__body {
		height: 100%;

		// align-items: center;
		* {
			position: relative;
			z-index: 1;
		}
	}

	&__genre {
		color: $grey-color;
		font-size: 1.6rem;
		a {
			color: $grey-color;
			font-size: 1.6rem;
			font-weight: 600;
			@include default-transition;
			&:hover {
				color: lighten($red-color, 5%);
			}
		}
	}

	&__content {
		margin: 6rem 0 0 $x-spacing;
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		// color: rgb(245, 245, 245);

		@include respond(tab-port) {
			// width < 900?
			width: 80%;
		}
	}

	&__button-close {
		position: absolute;
		top: 2rem;
		right: 2rem;
		font-size: 1.4rem;
		padding-bottom: 2px;
		border: none;
		color: white;
		font-weight: 700;
		width: 3rem;
		height: 3rem;
		border-radius: 4rem;
		background-color: $t-dark-color-1;
		z-index: 1;
		transition: all 0.3s ease;

		* {
			padding-top: 2px;
		}

		&:hover {
			cursor: pointer;
			background-color: $red-color;
		}
	}

	&__view-more {
		position: absolute;
		bottom: $x-spacing;
	}
}
body.modal--open {
	// -webkit-filter: grayscale(100%);
	// -moz-filter: grayscale(100%);
	// filter: grayscale(100%);
	overflow: hidden;
}

.trailer-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-backdrop-filter: grayscale(1);
	backdrop-filter: grayscale(1);
	z-index: 100000;

	.trailer-container {
		width: 55%;
		height: 70%;
		padding-top: 3%;
		position: relative;
		// background-color: $dark-color;
		// padding-bottom: 56.25%;

		iframe {
			width: 100%;
			height: 100%;
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			// font-size: 3rem;
			padding-bottom: 1.5px;
			border: none;
			color: white;
			width: 3rem;
			height: 3rem;
			border-radius: 4rem;
			background-color: $t-dark-color-1;
			z-index: 1;
			transition: all 0.3s ease;

			* {
				padding-top: 2px;
			}

			&:hover {
				cursor: pointer;
				background-color: $red-color;
			}
		}
	}
}
