.navbar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	height: 7rem;
	padding: 0 4rem;
	align-items: center;
	// background-color: orangered;
	width: 100%;
	z-index: 1001;

	&--has-bg {
		background-color: rgb(17, 17, 17);
	}

	&__brand {
		font-size: 1.8rem;
	}

	&__list {
		display: flex;
	}

	&__item {
		margin-left: 2rem;
	}

	&__link {
		text-decoration: none;
		color: white;
	}
}
