.scrollable {
	// width: 100% !important;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 5em;
		height: 100%;
		background-image: linear-gradient(to left, $dark-color, transparent);
	}
	&__list {
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 2rem 0;

		@include respond(tab-port) {
			// width < 900?
			padding: 2rem $m-x-spacing;
		}
		// overflow-y: scroll;

		@include modified-scrollbar;
	}
	&__heading {
		font-size: 2.3rem;
		margin-top: 4rem;

		@include respond(tab-port) {
			// width < 900?
			margin-left: $m-x-spacing;
		}
	}

	img {
		border-radius: $border-rad;
	}

	&__item {
		margin-right: 2.5rem;
		max-width: 10rem;
		min-width: 10rem;

		&--credits {
			max-width: 138px;
			min-width: 138px;
		}

		&--related-movies {
			max-width: 150px;
			min-width: 150px;
		}
	}

	&__title {
		display: block;
		margin-top: 0.4em;
		font-size: 1.4rem;
		width: inherit;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: $light-color;
		@include default-transition;

		span {
			font-weight: 500;
		}

		&--clickable {
			text-decoration: none;

			&:hover {
				color: $red-color;
			}
		}
	}

	&__subtitle {
		margin-top: 0.2em;
		width: inherit;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: $grey-color;
	}

	&__more-info {
		color: $grey-color;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__average {
		display: flex;
		justify-content: center;
		align-items: center;
		//
		color: $light-color;
		i {
			color: #f1c40f;
		}
	}
}
