$grid-columns: (2, 3, 4, 5, 6, 7, 8, 9, 10);
$flex-columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
.flex-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	[class^="col-"]:not(:last-child) {
		padding-right: 1.6rem;
	}
	@each $col in $flex-columns {
		.col-#{$col} {
			width: calc(8.333333333333333% * #{$col});
			max-width: calc(8.333333333333333% * #{$col});
		}
	}

	@include respond(tab-land) {
		@each $col in $flex-columns {
			.col-md-#{$col} {
				width: calc(8.333333333333333% * #{$col});
				max-width: calc(8.333333333333333% * #{$col});
				@if $col == 12 {
					padding-right: 0 !important;
				}
			}
		}
	}

	@include respond(tab-port) {
		@each $col in $flex-columns {
			.col-sm-#{$col} {
				width: calc(8.333333333333333% * #{$col});
				max-width: calc(8.333333333333333% * #{$col});
				@if $col == 12 {
					padding-right: 0 !important;
				}
			}
		}
	}

	@include respond(phone) {
		@each $col in $flex-columns {
			.col-xs-#{$col} {
				width: calc(8.333333333333333% * #{$col});
				max-width: calc(8.333333333333333% * #{$col});

				@if $col == 12 {
					padding-right: 0 !important;
				}
			}
		}
	}
}

.grid {
	display: grid;
	grid-gap: 2rem;

	&__gap--3 {
		grid-gap: 3rem;
	}

	@each $col in $grid-columns {
		&--#{$col} {
			grid-template-columns: repeat(#{$col}, 1fr);
		}
	}

	@include respond(tab-land) {
		@each $col in $grid-columns {
			&__md--#{$col} {
				grid-template-columns: repeat(#{$col}, 1fr);
			}
		}
	}

	@include respond(tab-port) {
		@each $col in $grid-columns {
			&__sm--#{$col} {
				grid-template-columns: repeat(#{$col}, 1fr);
			}
		}
	}

	@include respond(phone) {
		@each $col in $grid-columns {
			&__xs--#{$col} {
				grid-template-columns: repeat(#{$col}, 1fr);
			}
		}
	}
}
